
.h-700{
    height: 500px;;
}
.body{
    overflow-x: hidden;
}
.opacity-0{
    opacity: 0;
}
.z-index-500{
    z-index: 500;
}
.font-dancing{
    font-family: 'Dancing Script', cursive;
}
.font-indieflower{
    font-family: 'Dancing Script', cursive;
font-family: 'Indie Flower', cursive;
}
.w-8{
    width: 8%;
    height: 2065px;
    background-color: black;
}
.w-20{
    width: 40%;
     height: 2065px;
}
.backgroundcolor{
    background-color: white;
}
.font-fatface{
    font-family: 'Abril Fatface', cursive;
}
.font-garamond{
    font-family: 'Cormorant Garamond', serif;
}
#introduction p{
    font-size: 1.5rem;
}
.font-texturina{
    font-family: 'Texturina', serif;
}
#introduction .border-x{
    border-width: 1px;
    border-color: black;
    width: 69%;
    height: 5px;
    border-radius: 50px;
    display: block;
    z-index: 2;
}
#introduction i{
    font-size: 40px;
    z-index: 1;
}
.col-5 i{
    font-size: 100px;
}
.sticky-top{
    opacity: 0.9;
}
.bottom-height{
    height: 130px;
}
.black-color{
    background-color: black;
}
.bottom-height1{
    height: 50px;
}
#discover{
    object-position: center;
    object-fit: cover;
}
